<html>
<head>
<script src="d3.min.js" charset="utf-8"></script>
<script src="d3.tip.js" charset="utf-8"></script>
<script src="URI.js"></script>
<script src="pitometer.js"></script>
<style>
.d3-tip {
  white-space: pre;
  background-color: #eee;
  padding: 0.5em;
  width: 30em;
  height: 10em;
  overflow: scroll;
}
.chart {
  margin-left: 10em;
  margin-top: 10em;
}
</style>
</head>

<body>

<svg class="chart"></svg>

</body>
<script>

let THEGLOBALDATA = undefined;
let data = fetch("http://pyret-pitometer.s3-website-us-east-1.amazonaws.com/aggregated.json");
let uri = new URI(window.location.href);
let labels = uri.search(true).label;
let skipIds = uri.search(true).skipId;
let ymax = uri.search(true).ymax || "auto";
let ymin = uri.search(true).ymin || "auto";
let dim = {
  ymin: ymin,
  ymax: ymax
};
let opts = {
  dim: dim
};
if(typeof skipIds === "string") { skipIds = [skipIds]; }
if(typeof skipIds === "undefined") { skipIds = []; }
if(typeof labels === "string") { labels = [labels]; }
if(typeof labels === "undefined") { labels = []; }
data.then(function(dr) {
  if(!dr.ok) {
    console.error("Failed to get data: ", dr);
    return;
  }
  dr.json().then((d) => {
    THEGLOBALDATA = d;
    let commits = uri.search(true).commit;
    let branches = uri.search(true).branch;
    if(typeof commits !== "undefined") {
      if(typeof commits === "string") { commits = [commits] }
      compareCommits(d, commits, labels, skipIds, opts);
    }
    else if(typeof branches !== "undefined") {
      if(typeof branches === "string") { branches = [branches] }
      compareBranches(d, branches, labels, skipIds, opts);
    }
    else {
      render(d, labels, skipIds, opts);
    }
  });
});
data.catch(function(e) {
  console.error("Failed to get data: ", e);
});

</script>
</html>
